<div class="toolbar" role="banner">
  <img
    width="40"
    height="40"
    alt="Wallapop Logo"
    src="https://es.wallapop.com/images/icons/ic-logo-web.svg"
  />
  <span>Item Manager</span>
    <div class="spacer"></div>
</div>
<div class="content" role="main">
  <div class="action-bar">
    <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="Ingresa datos del producto">
    <div class="action-group">
      <app-dropdown [itemsToSort]= "loadList"></app-dropdown>
      <app-modal-favorite [favoritesList]="favoritesList"></app-modal-favorite>
    </div>
  </div>
  <div class="card-container">
    <app-card [entryItem]= "item " [favoritesList]="favoritesList"
    *ngFor="let item of loadList |filter:searchTerm">
    </app-card>
  </div>
  <div class="paginator">
  <div *ngIf="loadList.length>=listItemsLength; else elseBlock"><p class="message">Se han cargado todos los productos</p></div>
  <ng-template #elseBlock>
    <button  class="btn secondary-btn" (click)="loadMore()">
      Ver Más Productos
    </button>
  </ng-template>
  </div>
</div>
<footer>
  <h6>made with love by <a href="http://www.dmorah.com" blank target="_blank"> Daniela Mora</a></h6>
</footer>


