.modal-body {
  input {
    margin: 10px 0px;
  }
}

.card-product {
    position: relative;
    width: 220px;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 10%);
    transition: all .15s ease;
    float: left;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 4px 1px rgb(0 0 0 / 2%), 0 0 4px 1px rgb(0 0 0 / 5%);
    transition: box-shadow .25s ease;
    padding: 5px 6px;
    margin: 6px;

    .btn {
      width: 100%;
    }

    p {
      margin-top: 5px;
    }

  .image-container {
    height: 253px;
    padding: 4px 4px 0;
    background-color: #fff;
    overflow: hidden;
    position: relative;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 6px;
    }
  }
}

.btn-outline-primary {
  color: #10A392;
  border-color: #10A392;
}

.btn-outline-primary:hover {
  background-color: #13C1AC;
  color: #fff;
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
  background-color: #13C1AC;
  color: #fff;
  border-color:#13C1AC;
}

@media screen and (max-width: 767px) {
  .secondary-btn {
    width: 100%;
  }
}
