/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


@mixin secondary-btn {
  color: #10A392;
  border-color: #10A392;
}
.secondary-btn {
  @include secondary-btn;

  &:hover {
    background-color: #13C1AC;
    color: #fff;
  }
}
